#root {
  margin: 0;
}

#siteLayout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40px 1fr;
  width: 100vw;
  height: 100vh;
}

#siteLayout div {
  width: 100%;
  height: 100%
}

#siteLayout #headerbar {
  grid-column: 1 / span 2;
  grid-row: 1;
}

#siteLayout #controls {
  grid-column: 1;
  grid-row: 2 / span 2;
}

#siteLayout #gumball-wrapper {
  grid-column: 2;
  grid-row: 2 / span 2;
}
