:root {
  --color-bg: #030207;
  --color-fg: #232226;

  --color-text: #d0d0d1;
  --color-text-darker: #b0b0b2;
  
  --color-primary: #2c1584;
  --color-primary-dark: #09041a; 

  --color-secondary: #e2826a;
  --color-secondary-dark: #1c100d;

}