*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bg: #030207;
  --color-fg: #232226;

  --color-text: #d0d0d1;
  --color-text-darker: #b0b0b2;
  --color-text-darkest: #777777;
  
  --color-primary: #2c1584;
  --color-primary-light: #8b75e4;
  --color-primary-dark: #18171d; 

  --color-secondary: #e2826a;
  --color-secondary-light: #e7aa9a;
  --color-secondary-dark: #1c100d;

  --standard-border-width: 1.5px;
  --standard-border-radius: 5px;
}

:root {
  font-family: "TASA Orbiter", sans-serif;
  /* line-height: 1.2; */
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4em;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-secondary-light);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

title, h1, h2, h3, h4, h5, h6 {
  font-family: "Share Tech Mono";
}

title {
  font-size: 2.0em;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.9em;
}

button {
  border-radius: var(--standard-border-radius);
  border: var(--standard-border-width) solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary-dark);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-text)
}
button:hover {
  border-color: var(--color-primary-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttonDisabled {
  color: var(--color-text-darker)
}

.buttonDisabled:hover {
  border-color: var(--color-secondary);
  color: var(--color-text-darkest);
}