@import url("colors.css");

#controls {
  padding: 20px;
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  align-items: center;
}

#control-panel {
  width: 100%;
  max-width: 300px;
  height: 100%;

  background-color: var(--color-fg);
  overflow: hidden; /* stops the text margins from moving the div down */
}
