@import url("colors.css");

#controls {
  padding: 20px;
  box-sizing: border-box;
}

#control-panel {
  width: 100%;
  height: 100%;
  background-color: var(--color-fg);
  overflow: hidden; /* stops the text margins from moving the div down */
}
