@import url("common.css");

#controls {
  padding: 30px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

#control-panel {
  width: 100%;
  max-width: 500px;
  height: 100%;

  border: var(--standard-border-width) solid var(--color-secondary);
  border-radius: var(--standard-border-radius);

  padding: 15px;
  background-color: var(--color-fg);
  overflow: hidden; /* stops the text margins from moving the div down */

  display: flex;
  flex-direction: column;
}

.controlsInner {
  flex-grow: 1;
  overflow-y: scroll;
  flex-shrink: 1;
}

.controlButton {
  flex-shrink: 0;
  flex-grow: 0;
}
