@import url("common.css");

#controls {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;

  flex-direction: column;
  align-items: center;

  overflow-y: hidden;
}

#control-panel {
  width: 100%;
  max-width: 500px;
  height: 100%;

  border: var(--standard-border-width) solid var(--color-secondary);
  border-radius: var(--standard-border-radius);

  padding: 15px;
  gap: 15px;
  background-color: var(--color-fg);
  overflow: hidden; /* stops the text margins from moving the div down */

  display: flex;
  flex-direction: column;
}

.controlsInner {
  flex-grow: 1;
  overflow-y: scroll;
  flex-shrink: 1;
  min-height: 0;
}

.controlsInner img {
  max-width: 100%;
  max-height: 30%;

  object-fit: contain;

  margin: 0 auto;
}

.controlButton {
  flex-shrink: 0;
  flex-grow: 0;
}

.controlMessageContainer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

