@import url("./colors.css");

#gumball-canvas {
  pointer-events: none;
  outline: none;
}

#gumball-wrapper {
  width: 100%;
  height: 100%;
}

#gumball-container {
  position: relative;
  overflow: hidden;
}

.square-constraint {
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1 / 1;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.loading-cover {
  width: 100%;
  height: 100%;
  
  padding: 30px;
  display: flex;
  flex-direction: column;

  background-color: var(--color-bg);
}

.progress-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.progress-container p {
  font-family: monospace;
}

.technical-credits {
  flex-grow: 0;
  font-family: monospace;
}
