@import url("./common.css");

#headerbar {
  background-color: var(--color-fg);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  overflow: hidden;

  border-bottom: var(--standard-border-width) solid var(--color-secondary)
}

.iconBox {
  display: flex;
}

.iconBoxIcon {
  transition: color 0.3s ease;
  display: inline-flex;
  align-items: center;
  margin: 5px;
}
